@import '../../../scss/variables';

.searcher {
	position: relative;
	max-width: $px50 * 10;
	width: 100%;
	display: flex;
	&-input {
		background-color: $w;
		flex: 1;
		padding: $px17 $px35 $px17 $px17;
		border: $px1 solid rgba($color: $lg, $alpha: 0.7);
		border-radius: $px10;
		font-weight: 400;
		font-size: $px14;
		line-height: 1.2;

		@include hoverOut();

		&:focus {
			outline: none;
			border: $px1 solid rgba($color: $fc, $alpha: 0.7);
			@include hoverIn();
		}
	}

	&:before {
		content: url('../../../assets/icon/magnifier.svg');
		width: $px20;
		height: auto;
		position: absolute;
		top: 50%;
		right: $px17;
		transform: translateY(-50%);
	}
}