@import '../../../scss/variables';


.product-card {
	padding: $px6 $px6 $px20 $px6;
	width: $px30 * 10;
	height: $px26 * 20;
	border-radius: $px10;
	cursor: pointer;

	@include hoverIn();

	&:hover {
		background: $hoverCard;
		box-shadow: 0 $px4 $px4 rgba(0, 0, 0, 0.15);
		@include hoverOut();
	}


	&__price {
		margin-top: $px10;
		padding: 0 $px10;
		font-weight: 600;
		font-size: $px24;
		line-height: 1.2;
		color: $b;
	}

	&__name {
		margin-top: $px5;
		padding: 0 $px10;
		font-weight: 300;
		font-size: $px18;
		line-height: 1.2;
		color: $b;
		text-transform: lowercase;

		&::first-letter {
			text-transform: uppercase;
		}
	}

	&__description {
		margin-top: $px10;
		padding: 0 $px10;
		font-weight: 200;
		font-size: $px14;
		line-height: 1.2;
		color: $g;

		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-box;
		-moz-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		line-clamp: 2;
		box-orient: vertical;
	}
}