@import '../../../scss/variables';

.favorites-icon {
	width: $px27;
	height: $px23;
	cursor: pointer;

	&__path {
		fill: transparent;
		@include hoverOut();

		&-active {
			fill: $fc;
			@include hoverIn();
		}
	}
}