@import '../../scss/variables';

.category {
	&-load {
		padding-top: $px30;
	}

	&-grid {
		padding: $px30 0;
		display: grid;
		gap: $px30;
		grid-template-columns: 250px auto;

		&__load {
			display: flex;
			justify-content: center;
		}
	}
}