@import '../../../scss/variables';

.navigate {
	min-height: $px50;
	padding-top: $px25;
	display: flex;
	align-items: baseline;
	gap: $px50;
	.nav-link {
		text-transform: uppercase;
		font-size: $px16;
		line-height: 1.2;
		display: inline-block;
		padding-bottom: $px25;
		border-bottom: $px4 solid transparent;
		@include hoverOut();
		&__active {
			border-bottom: $px4 solid $fc;
			@include hoverIn();
		}
	}
}