@import '../../../scss/variables';

.product-card__images {
	width: 100%;
	overflow: hidden;
	border-radius: $px10;
	position: relative;
	height: $px32 * 10;
	background-color: rgba($color: $g, $alpha: 0.3);
	background-image: url(../../../assets/icon/image-loader.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: $px40 * 2;

	& .image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	& .pagination {
		width: calc(100% - $px16);
		position: absolute;
		bottom: $px10;
		left: $px8;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: $px25;

		&-bullet {
			flex: 1;
			height: $px5;
			display: block;
			background: $bullet;
			border-radius: $px4;
			@include hoverOut();

			&__active {
				background: $fc;
				@include hoverIn();
			}
		}
	}
}