@import '../../../scss/variables';

.transition-out-enter {
	opacity: 1;
  }
  .transition-out-enter-active {
	opacity: 1;
	transition: opacity 500ms;
  }
  .transition-out-exit {
	opacity: 1;
  }
  .transition-out-exit-active {
	opacity: 0;
	transition: opacity 500ms;
  }