@import '../../../scss/variables';

.btn {
	padding: $px10 $px20;
	border: $px1 solid $fc;
	border-radius: $px10;
	font-weight: 500;
	font-size: $px16;
	line-height: 1.2;
	color: $fc;
	background-color: $fc;
	color: $w;

	@include hoverIn;

	&:hover {
		background-color: $w;
		color: $fc;
		@include hoverOut;
	}

	@include activeEvent;

	&-round {
		border-radius: $px30;
	}

	&-outline {
		background-color: $w;
		color: $fc;

		&:hover {
			background-color: $fc;
			color: $w;
			@include hoverOut;
		}
	}

	&-black {
		background-color: $b;
		color: $w;

		border: $px1 solid $b;
		color: $w;

		&:hover {
			background-color: $w;
			color: $b;
			@include hoverOut;
		}

		&.btn-outline {
			background-color: $w;
			color: $b;
	
			&:hover {
				background-color: $b;
				color: $w;
				@include hoverOut;
			}
		}
	}
}