@import '../../../scss/variables';

.category-head {
	padding-bottom: $px15;
	display: flex;
	align-items: center;
	justify-content: space-between;

	& .head-info {
		display: flex;
		align-items: center;
		gap: $px25;
	}

	& .head-title {
		font-size: $px24;
		font-weight: 400;
		line-height: 1.2;
	}

	& .head-products {
		font-size: $px16;
		line-height: 1.2;
		color: $lg;
	}

	& .head-sorting {
		display: flex;
		gap: $px10;
	}

	@include borderBot()
}