@import '../../../scss/variables';

.input {
	padding: $px16;
	border: $px1 solid $b;
	border-radius: $px10;
	font-weight: 400;
	font-size: $px14;
	line-height: 1.15;
	text-decoration-line: underline;
	color: $g;
}