@import '../../../scss/variables';

.product-sorting {
	width: 150px;
	padding: $px5;
	position: relative;

	& .selected {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		border: none;
		outline: none;
		border-radius: $px7;
	}

	& .options-list {
		position: absolute;
		top: $px20;
		left: 0;
		width: 100%;
		padding: $px5;
		background-color: rgba($color: $w, $alpha: 0.9);
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		border-radius: $px7;
		z-index: 3;
		transition: all 0.2s ease-out;

		&__show {
			opacity: 1;
			visibility: visible;
			overflow: visible;
			transition: all 0.2s ease-in;
		}
	}

	& .option-item {
		padding: $px3 0;
		cursor: pointer;
		transition: all 0.2s ease-out;

		&__selected {
			color: $fc;
		}

		&:not(.option-item__selected) {
			&:hover {
				opacity: 0.7;
				transition: all 0.2s ease-in;
			}
		}
	}
}