@import '../../../scss/variables';

.link-user {
	position: relative;
	height: max-content;
	width: max-content;
	background-color: $w;

	&__vector {
		width: $px28;
	}

	&__path {
		stroke: $b;
		@include hoverIn();
	}

	&:hover .link-user__path {
		stroke: $fc;
		@include hoverOut();
	}


}