@import '../../../scss/variables';

.main-info__phone {
	display: flex;
	align-items: center;
	gap: $px10;


	& .phone-icon {
		height: $px20;
	}

	& .phone {
		font-weight: 500;
		font-size: $px18;
		line-height: 21px;
	}
}