@import '../../../scss/variables';


.main-info {
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: $px10;

	&__phones {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: $px7;
	}

	&__works {
		width: 100%;
	}

	&__work {
		font-size: $px14;
		line-height: 1.2;
		width: 100%;
		text-align: center;
	}
}