@import '../../../scss/variables';

.basket-link {
	position: relative;
	height: max-content;
	width: max-content;
	background-color: $w;
	
	&:hover {
		& .basket-link__icon {
			fill: $fc;
			@include hoverOut();
		}

		& .basket-link__label {
			background-color: $b;
			@include hoverOut();
		}
	}

	&__vector {
		width: $px28;
	}

	&__icon {
		fill: $b;
		@include hoverOut();
	}

	&__label {
		width: $px22;
		height: $px22;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 0;
		transform: translate(-$px10, $px5);
		background-color: $fc;
		color: $w;
		border-radius: 50%;
		font-size: $px16;
		@include hoverOut();
	}
}