@import '../../../scss/variables';

.transition-in-out-enter {
	opacity: 0;
  }
  .transition-in-out-enter-active {
	opacity: 1;
	transition: opacity 300ms;
  }
  .transition-in-out-exit {
	opacity: 1;
  }
  .transition-in-out-exit-active {
	opacity: 0;
	transition: opacity 300ms;
  }