@import '../../../scss/variables';
.logo {
	display: flex;
	align-items: center;
	gap: $px16;

	&-title {
		font-family: $rs;
		font-weight: 300;
		font-size: $px50 + $px12;
		text-transform: uppercase;
	}
}