@import '../../../scss/variables';

.order-type {

	&__asc {
		transform: rotate(0deg);
		@include hoverIn();
	}

	&__desc {
		transform: rotate(-180deg);
		@include hoverOut();
	}

	&__toggler {
		outline: none;
		border: none;
	}
}