@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../assets/fonts/Roboto/Robotothin.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotothin.woff') format('woff'), url('../assets/fonts/Roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../assets/fonts/Roboto/Robotothinitalic.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotothinitalic.woff') format('woff'), url('../assets/fonts/Roboto/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../assets/fonts/Roboto/Robotolight.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotolight.woff') format('woff'), url('../assets/fonts/Roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../assets/fonts/Roboto/Robotolightitalic.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotolightitalic.woff') format('woff'), url('../assets/fonts/Roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../assets/fonts/Roboto/Roboto.woff2') format('woff2'), url('../assets/fonts/Roboto/Roboto.woff') format('woff'), url('../assets/fonts/Roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../assets/fonts/Roboto/Robotoitalic.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotoitalic.woff') format('woff'), url('../assets/fonts/Roboto/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/Roboto/Robotomedium.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotomedium.woff') format('woff'), url('../assets/fonts/Roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../assets/fonts/Roboto/Robotomediumitalic.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotomediumitalic.woff') format('woff'), url('../assets/fonts/Roboto/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/Roboto/Robotobold.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotobold.woff') format('woff'), url('../assets/fonts/Roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../assets/fonts/Roboto/Robotobolditalic.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotobolditalic.woff') format('woff'), url('../assets/fonts/Roboto/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('../assets/fonts/Roboto/Robotoblack.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotoblack.woff') format('woff'), url('../assets/fonts/Roboto/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../assets/fonts/Roboto/Robotoblackitalic.woff2') format('woff2'), url('../assets/fonts/Roboto/Robotoblackitalic.woff') format('woff'), url('../assets/fonts/Roboto/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
