@import './roboto';
@import './roboto-serif';

$r: 'Roboto', sans-serif;
$rs: 'Roboto Serif', serif;;
$w: #faf9f9;
$b: #353331;
$g: #626262;
$lg: #8F8C8C;
$fc: #B63516;
$sc: #F9DDD9;
$hoverCard: #F8F3F1;
$bullet: rgba(165, 152, 149, 0.34);

$px1: 0.0625rem;
$px2: 0.125rem;
$px3: 0.1875rem;
$px4: 0.25rem;
$px5: 0.3125rem;
$px6: 0.375rem;
$px7: 0.4375rem;
$px8: 0.5rem;
$px9: 0.5625rem;
$px10: 0.625rem;
$px11: 0.6875rem;
$px12: 0.75rem;
$px13: 0.8125rem;
$px14: 0.875rem;
$px15: 0.9375rem;
$px16: 1rem;
$px17: 1.0625rem;
$px18: 1.125rem;
$px19: 1.1875rem;
$px20: 1.25rem;
$px21: 1.3125rem;
$px22: 1.375rem;
$px23: 1.4375rem;
$px24: 1.5rem;
$px25: 1.5625rem;
$px26: 1.625rem;
$px27: 1.6875rem;
$px28: 1.75rem;
$px29: 1.8125rem;
$px30: 1.875rem;
$px31: 1.9375rem;
$px32: 2rem;
$px33: 2.0625rem;
$px34: 2.125rem;
$px35: 2.1875rem;
$px36: 2.25rem;
$px37: 2.3125rem;
$px38: 2.375rem;
$px39: 2.4375rem;
$px40: 2.5rem;
$px41: 2.5625rem;
$px42: 2.625rem;
$px43: 2.6875rem;
$px44: 2.75rem;
$px45: 2.8125rem;
$px46: 2.875rem;
$px47: 2.9375rem;
$px48: 3rem;
$px49: 2.8825rem;
$px50: 2.9415rem;


@mixin hoverIn {
	transition: all 0.3s ease-in;
}

@mixin hoverOut {
	transition: all 0.3s ease-out;
}

@mixin activeEvent {
	&:active {
		transform: scale(1.02);
		@include hoverOut;
	}
}

@mixin borderBot {
	border-bottom: $px1 solid $g;
}