@import '../../../scss/variables';


.selected-arrow {
	& path {
		fill: $lg;
		transition: all 0.2s ease-in;
	}

	transition: all 0.2s ease-in;


	&__open {
		& path {
			fill: $fc;
			transition: all 0.2s ease-out;
		}

		transform: rotate(180deg);
		transition: all 0.2s ease-out;
	}
}